body{
font-family:'Poppins',sans-serif;
background:#f3eaea;
margin:0;
}



/* NAgutVBAR */

.navbar{
background:white;
margin:20px auto;
width:85%;
padding:15px 30px;
border-radius:40px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.logo{
color:#40826D;
}

.search{
border:none;
background:#f2f2f2;
padding:10px 15px;
border-radius:20px;
}

.subscribe{
background:#40826D;
color:white;
border:none;
padding:10px 20px;
border-radius:20px;
}



/* HERO */

/* HERO SECTION */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:60px 10%;
}

.hero span{
color:#D4AF37;
}

.hero img{
width:100%;
height:500px;
object-fit:cover;
border-radius:10px;
}

.email-box{
margin-top:20px;
}

.email-box input{
padding:10px;
border-radius:8px;
border:1px solid #ddd;
}

.email-box button{
background:#40826D;
color:white;
border:none;
padding:10px 15px;
border-radius:8px;
}

/* TRENDING */

.trending{
text-align:center;
padding:30px;
}

.section-title{
color:#D4AF37;
margin-bottom:20px;
}

.topics{
display:flex;
justify-content:center;
gap:20px;
}

.topics a{
background:white;
padding:10px 20px;
border-radius:25px;
text-decoration:none;
color:#40826D;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}



/* MAIN LAYOUT */

.layout{
display:grid;
grid-template-columns:300px 1fr;
gap:40px;
padding:40px 10%;
}



/* SIDEBAR */

.about-card{
background:white;
padding:20px;
border-radius:15px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.about-card img{
border-radius:50%;
margin-bottom:10px;
}

.tags span{
background:white;
padding:6px 12px;
margin:5px;
display:inline-block;
border-radius:20px;
box-shadow:0 3px 10px rgba(0,0,0,0.05);
}

.recent-post{
display:flex;
align-items:center;
gap:10px;
margin-bottom:10px;
}

.recent-post img{
border-radius:8px;
}



/* POSTS */

.post{
display:flex;
background:white;
border-radius:15px;
margin-bottom:25px;
overflow:hidden;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.post img{
width:250px;
}

.post-text{
padding:20px;
}

.post-text h3{
margin-top:0;
color:#40826D;
}



/* FOOTER */

footer{
text-align:center;
padding:30px;
background:#40826D;
color:white;
margin-top:40px;
}