body{
font-family: Arial;
margin:0;
background:#f6f6f6;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#40826D; /* Viridian Green */
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

header h1{
color:#D4AF37; /* Gold */
}

nav a{
margin:0 15px;
text-decoration:none;
color:white;
font-weight:bold;
}

nav a:hover{
color:#D4AF37; /* Gold */
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:60px 80px;
}

.hero img{
border-radius:10px;
}

.hero-text{
max-width:500px;
}

.hero-text h2{
font-size:40px;
color:#D4AF37; /* Gold heading */
}

.categories{
padding:40px 80px;
}

.categories h2{
color:#D4AF37; /* Gold heading */
}

.cards{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:30px;
border-radius:10px;
width:200px;
text-decoration:none;
color:black;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
background:#40826D; /* Viridian Green */
color:white;
}

footer{
text-align:center;
padding:20px;
margin-top:40px;
background:#40826D; /* Viridian Green */
color:white;
}